.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
public/*
*_files/*
resources/packages.bib
*.rds
R/ignore.R
.Rbuildignore
_ignore
data/nhanes_tidied.csv
slides/libs
slides/*.html
videos/raw

/.quarto/
