project:
  type: rostools-theme
  pre-render:
    - quarto render slides/*.qmd
  resources:
    - slides/*.html

book:
  title: "Intro Reproducible Research in R"
  subtitle: "An introductory workshop on modern data analyses and workflows"
  description: "A 3-day workshop for researchers introducing modern and reproducible data analysis tools and workflows with R."
  author:
    - Luke W. Johnston
    - Helene Baek Juel
    - Bettina Lengger
    - Daniel R. Witte
    - Hannah Chatwin
    - Malene Revsbech Christiansen
    - Anders Aasted Isaksen
  site-url: "https://r-cubed-intro.rostools.org"
  repo-url: "https://github.com/rostools/r-cubed-intro"
  chapters:
    - index.qmd
    - part: "Preamble"
      chapters:
      - preamble/syllabus.qmd
      - preamble/schedule.qmd
      - preamble/pre-course.qmd
    - part: "Sessions"
      chapters:
      - sessions/introduction.qmd
      - sessions/setup-project.qmd
      - sessions/reproducible-documents.qmd
      - sessions/version-control.qmd
      - sessions/import-data.qmd
      - sessions/visualization.qmd
      - sessions/github.qmd
      - sessions/wrangling.qmd
      - sessions/wrangling-with-visualizing.qmd
      - sessions/split-apply-combine.qmd
      - sessions/project-work.qmd
      - sessions/what-next.qmd
  appendices:
    - appendix/social.qmd
    - appendix/for-instructors.qmd
    - appendix/extra-github.qmd
    - appendix/extra-merge-conflicts.qmd
    - appendix/extra-arrange.qmd
    - LICENSE.md
    - appendix/references.qmd
  page-footer:
    center:
      - text: "License: CC BY 4.0 {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}}"
        href: LICENSE.html
      - text: "Code of Conduct"
        href: "https://guides.rostools.org/conduct.html"

bibliography:
- "includes/references.bib"
- "includes/packages.bib"

editor:
  markdown:
    wrap: 72
    canonical: true

format:
  r3-theme-html:
    doi: "https://doi.org/10.21105/jose.00122"
    include-before-body:
      - "includes/site-counter.html"

execute:
  warning: false
