project:
  type: rostools-theme
  pre-render:
    - quarto render slides/*.qmd
  resources:
    - slides/*.html
    - videos/*

book:
  title: "Intro Reproducible Research in R"
  subtitle: "An introductory workshop on modern data analyses and workflows"
  description: "A 3-day workshop for researchers introducing modern and reproducible data analysis tools and workflows with R."
  author:
    - name: "Luke Johnston"
      orcid: "0000-0003-4169-2616"
    - name: "Anders Aasted Isaksen"
      orcid: "0000-0001-8457-5466"
    - name: "Helene Juel"
      orcid: "0000-0002-5763-8545"
    - name: "Bettina Lengger"
      orcid: "0000-0001-9997-7011"
    - name: "Daniel Witte"
      orcid: "0000-0002-0769-2922"
    - name: "Hannah Chatwin"
      orcid: "0000-0001-7248-8568"
    - name: "Malene Revsbech Christiansen"
      orcid: "0000-0002-9772-3576"
  date: last-modified
  site-url: https://r-cubed-intro.rostools.org
  repo-url: https://github.com/rostools/r-cubed-intro
  chapters:
    - index.qmd
    - part: "Overview"
      chapters:
        - overview/syllabus.qmd
        - overview/is-this-for-you.qmd
        - overview/schedule.qmd
        - overview/learning-design.qmd
    - part: "Pre-workshop"
      chapters:
        - pre-workshop/overview.qmd
        - pre-workshop/reading.qmd
        - pre-workshop/installing-programs-r.qmd
        - pre-workshop/r-and-rstudio.qmd
        - pre-workshop/installing-r-packages.qmd
        - pre-workshop/git-and-github.qmd
        - pre-workshop/code-of-conduct.qmd
        - pre-workshop/survey.qmd
    - part: "Sessions"
      chapters:
        - sessions/introduction.qmd
        - sessions/setup-project.qmd
        - sessions/reproducible-documents.qmd
        - sessions/version-control.qmd
        - sessions/import-data.qmd
        - sessions/visualization.qmd
        - sessions/github.qmd
        - sessions/wrangling.qmd
        - sessions/wrangling-with-visualizing.qmd
        - sessions/split-apply-combine.qmd
        - sessions/project-work.qmd
        - sessions/what-next.qmd
  appendices:
    - appendix/social.qmd
    - appendix/for-teachers.qmd
    - appendix/extra-github.qmd
    - appendix/extra-merge-conflicts.qmd
    - appendix/extra-arrange.qmd
    - appendix/references.qmd
    - CHANGELOG.md
    - CONTRIBUTING.md
  page-footer:
    center:
      - text: "License: CC BY 4.0 {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}}"
        href: LICENSE.md
      - text: "Code of Conduct"
        href: "pre-workshop/code-of-conduct.qmd"

bibliography:
- "includes/references.bib"
- "includes/packages.bib"

editor:
  markdown:
    wrap: 72
    canonical: true

format:
  rostools-theme-html:
    doi: "https://doi.org/10.21105/jose.00122"
    include-before-body:
      - "includes/site-counter.html"

metadata-files:
  - _metadata.yml
